
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', 'Open Sans', sans-serif;
    width: 1024px;
    height: 100vh;
}

#descuentos {
background-color: #1CD1B0;
font-style: normal;
font-size: 15px;
line-height: 18px;
padding-left: 10px;
padding-top:10px;
padding-bottom: 10px;
margin-bottom: 0%;

}

main, footer{
    width: 1024px;
    /*padding-top: 151px;
    padding-left: 32px;
    padding-right: 32px;*/
}

h1{ 
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    padding: 28px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    margin-top: 0%;

    

}

h3{
    text-transform: uppercase;
    text-align: center;
    padding-top: 74px;
    padding-bottom:0px;
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 30px;
}

section{
    display: inline-block;
    position: relative;
    background-color: #F3F3F3;
    width: 300px;
    height:529px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 152px;
    margin-bottom: 193px;
    margin-left: 30px;
    line-height:19px;    
    font-size:16px;
    font-weight: 400;

}

.corazon {
    position: absolute;
    top: 15.88px;
    left: 21px;
    /*padding-top: 0%;*/
}

.personaje{
    
    position: absolute;
    border-radius: 50%;
    /*width: 120px;
    height: 118px;*/
    left:90px;
    top:128px;

}

#parrafo{

    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    Line-height: 18,75px;
    padding-left: 16px;
    padding-right: 17px;
    padding-bottom: 104px;
    /*width: 267px;
    height: 113px;
    left: 48px;
    top: 602px;  */ 
}

#VerMas{
    position: absolute;
    color:#F3F3F3;
    font-size: 15px;
    line-height: 18px;
    border-style:none;
    width: 128.78px;
    height: 48.52px;
    left:85px;
    bottom:18px;    
}

h1, footer, button{
    background-color: #00669F;
}

footer{
    position:absolute;
    color: #FFF9F9;
    font-size: 16px;
    line-height: 19px;
    top:972px;
    /*height: 51px;
    left:16px;
    bottom:16px;
    right:671px;*/
    padding-left: 16px;
}